
a{
  text-decoration: none;
}

/*logo*/

.logo:hover, 
.logo:focus{
    color: rgb(8, 75, 129);
}
.part-1{
    color: #2196F3;
}
.part-2{
    color: black;
}

/* Site nav */

.site-nav .link{
  color: black;
}

}
.site-nav .link:hover,
.site-nav .link:focus{
  color: #2196F3; 
}
.contact-list{
  color: #757575;
}

.contact-list .link:hover,
.contact-list .link:focus{
  color: #2196F3;
}
.section{
  color: #212121;
}

.section .img:hover,
.section .img:focus{
  color: #FFFFFF;
  background-color: #2196F3;
}
.section-tit{
  color: black;
}