.list {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo: hover, .logo: focus{
    color: #2196F3;
}
.part-1 {
    color: #2196F3;
}
.part-2 {
    color: black;
}
/* Site nav */

.site-nav .link {
  color: black;
}
.contact-nav .link {
  color: #757575;
}
.site-nav .link: hover,
.site-nav .link: focus {
  color: #2196F3;
}