
.ul{
  text-decoration: none;
  list-style: none;
}
 
/* header */

.logo{
  font-family: Raleway;
  font-size: 26px;
}

.site-nav .link{
  font-family: Roboto;
  font-size: 14px;
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus{
  color: #2196F3; 
}
.contact-list{
  font-family: Roboto;
  font-size: 14px;
  color: #757575;
}

.contact .link:hover,
.contact .link:focus{
  color: #2196F3;
}

/* footer */

.footer{
  background: #2F303A;
}
.logo-f{
   font-family: Raleway;
  font-size: 22px; 
}

.section{
  text-decoration: none;
  list-style: none;
}
.adress{
  color: #FFFFFF;
}
.contact-f{
  color: rgba(255, 255, 255, 0.6);
}
.article{
  color: #ffffff;
}
.caption{
  color: rgba(255, 255, 255, 0.4);
}

/* main page*/ 

.section{
  color: #212121;
}
.button-service{
color: #FFFFFF;
background: #2196F3;
border-radius: 4px;
}
.section .img:hover,
.section .img:focus{
    background-color: #2196F3;
}
.title{
  color: #000000;
}
.comment{
  color: #757575;
}
.service{
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8); 
}
.person{
  color: #212121;
}
.job{
  color: #757575;
}

/* portfolio */ 

.button:hover,
.button:focus{
  color: #ffffff;
  background: #2196F3;
}

.example{
  color: #212121;
}
.type{
  color: #757575;
}