
a{
  text-decoration: none;
}
.list{
  list-style: none;
}
/*logo*/

.logo:hover, 
.logo:focus{
    color: #2196F3;
}
.part-1{
    color: #2196F3;
}
.part-2{
    color: black;
}

.site-nav .link{
  color: black;
}

.site-nav.link:hover,
.site-nav.link:focus{
  color: #2196F3; 
}
.contact-list{
  color: #757575;
}

.contact.link:hover,
.contact.link:focus{
  color: #2196F3;
}
.section{
  color: #212121;
}

.section .img:hover,
.section .img:focus{
    background-color: #2196F3;
}
.section-tit{
  color: black;
}